.project
.idea
.settings/
.metadata/
.classpath
.DS_Store
target/
*.swp
*.iml
.cache
.idea/*
cache
log
gatling.log
node_modules/
generated/
.metadata/
.sonar-ide.properties
nohup.out
*.orig
*.out
*.log
*.pyc
*.launch
*.pydevproject
